* {
  box-sizing: border-box;
}

:root {
  --primary-color: #1ebfc1;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ==================================== Common ======================================= */
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px); /* 24px padding on each side */
  margin: 0 auto;
}

/* ==================================== Header ======================================= */
.header.fixed {
  position: sticky;
}

header .body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 52px 0 8px; /* padding trên 52px, dưới 8px */
}

.nav ul {
  display: flex;
}

.nav a {
  padding: 8px 20px;
  font-size: 1.6rem;
  color: #2f3a3b;
}

.nav a:hover,
.nav li.active a {
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor; /* Làm cho chữ đậm hơn và không bị giật nội dung như font-weight*/
}

.header .action-link {
  font-size: 1.6rem;
  color: #494949;
}

.header .action-btn {
  padding: 12px 24px;
  border: 1px solid #1ebfc1;
  border-radius: 6px;
  margin-left: 24px;
  font-weight: 600;
  font-size: 1.6rem;
  color: #1ebfc1;
}

.header .action-btn:hover {
  background: #1ebfc1;
  color: #fff;
}

/* ==================================== Hero ======================================= */
.hero {
  padding: 42px 0 79px;
}

.hero .body {
  display: flex;
}

/* Hero left */
.hero .content-block {
  width: 45%;
  padding-top: 93px; /* 243px - 150px = 93px */
}

.hero span {
  font-size: 1.4rem;
  color: #767e7e;
}

.hero .heading {
  margin-top: 18px;
  font-weight: 700;
  font-size: 6.2rem;
  line-height: 1.16;
  color: #0d1111;
}

.hero .content-block .desc {
  width: 374px;
  margin-top: 46px;
  font-size: 1.8rem;
  line-height: 1.78;
  color: #9da6a5;
}

.hero .cta-group {
  display: flex;
  margin-top: 52px;
}

.hero-cta {
  min-width: 186px;
  line-height: 68px; /* Chiều cao nút */
  background: var(--primary-color);
  box-shadow: 0px 10px 50px 0px #0000000d;
  border-radius: 14px;
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
  color: #ffffff;
}

.hero-cta:hover {
  opacity: 0.8;
}

.hero .watch-video {
  margin-left: 50px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  box-shadow: 0px 22px 50px 0px #0000000d;
  color: #ffffff;
}

/* Hero right */
.hero .media-block {
  position: relative;
  width: 55%; /* 641px / 1170px * 100% = 54.8% */
  padding: 42px 0 0 71px; /* 50px - 8px = 42px */
}

.hero .media-block .img {
  width: 576px;
  height: 631px;
  object-fit: cover;
  display: block;
}

/* Card 1 */
.card-course {
  position: absolute;
  width: 157px;
  height: 75px;
  background: #fefefd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  box-shadow: 0px 10px 80px 0px #0000000d;
  top: 149px;
  left: 30px;
}

.card-course .item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.card-course .block-icon {
  position: relative;
  width: 36px;
  height: 40px;
  background: #ff8282;
  border-radius: 4px 2px 2px 4px;
}

.card-course .block-icon::after {
  position: absolute;
  content: "";
  width: 28px;
  height: 4px;
  background: #ffffff;
  border-radius: 4px;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
}

.card-course .desc strong {
  width: 55px;
  line-height: 1.6;
  font-weight: 500;
  font-size: 1rem;
  color: #0d1111;
  display: flex;
  flex-direction: column;
}

/* Card 2 */
.card-schedules {
  position: absolute;
  width: 124px;
  height: 132px;
  padding: 16px 25px 23px;
  border-radius: 24px;
  background: #ffffff;
  box-shadow: 0px 10px 80px 0px #0000000d;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 453px;
  left: 8px;
}

.card-schedules .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.card-schedules .desc {
  font-weight: 500;
  font-size: 1rem;
  color: #0d1111;
  margin-bottom: 16px;
}

.bar-inactive {
  position: relative;
  width: 74px;
  height: 6px;
  background: #edf1f5;
  border-radius: 3px;
  overflow: hidden;
}

.bar-active {
  height: 6px;
  background: #fb9899;
  border-radius: 3px;
}

.bar-inactive-last {
  width: 26px;
  height: 6px;
  background: #edf1f5;
  border-radius: 3px;
  margin-top: 4px;
}

/* Card 3 */
.card-our-active-students {
  position: absolute;
  width: 207px;
  height: 90px;
  padding: 17px 35px;
  background: #fefefd;
  border-radius: 24px;
  box-shadow: 0px 12px 80px 0px #0000000d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 45px;
  top: 530px;
}

.card-our-active-students .desc {
  margin-right: auto;
  width: 100px;
  font-weight: 500;
  font-size: 1rem;
  color: #0d1111;
}

.card-our-active-students .avatar-group {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
}

.card-our-active-students .avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  margin-left: -7px;
  object-fit: cover;
  border-radius: 50%;
}

.card-our-active-students .avatar:first-child {
  margin-left: 0;
}

/* ==================================== Features ======================================= */
.features {
  padding: 130px 0;
}

.features span {
  font-weight: 700;
  font-size: 1.2rem;
  color: #767e7e;
}

.features-header {
  width: 591px;
}

.features .title {
  margin-top: 18px;
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 1.33;
  color: #0d1111;
}

.features .features-header .desc {
  margin-top: 18px;
  font-size: 1.8rem;
  color: #767e7e;
}

.features-body {
  width: 1024px;
  margin-top: 80px;
  display: flex;
  gap: 200px;
}

.features-card:nth-child(1) .icon {
  background: #ffc147;
  width: 102px;
  height: 106px;
  border-radius: 18px;
}

.features-card:nth-child(2) .icon {
  background: #ff947a;
  width: 102px;
  height: 106px;
  border-radius: 18px;
}

.features-card:nth-child(3) .icon {
  background: #bf83ff;
  width: 102px;
  height: 106px;
  border-radius: 18px;
}

.features-card .icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features-card .icon .dots-list {
  position: absolute;
  display: flex;
  gap: 6px;
}

.features-card .icon .dots {
  width: 6px;
  height: 6px;
  background: #ffffff;
  border-radius: 50%;
}

.features-card .sub-title {
  margin-top: 26px;
  font-weight: 600;
  font-size: 2rem;
  color: #0d1111;
}

.features-card .desc {
  margin-top: 16px;
  font-size: 1.6rem;
  line-height: 1.69;
  color: #9da6a5;
  min-width: 224px;
}

/* ==================================== Courses ======================================= */
.courses .courses-header span {
  font-weight: 700;
  font-size: 1.2rem;
  color: #767e7e;
}

.courses .courses-header .title {
  margin-top: 18px;
  font-weight: 700;
  font-size: 4.2rem;
  color: #0d1111;
}

.desc-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courses .courses-header .desc {
  margin-top: 19px;
  width: 525px;
  font-size: 1.8rem;
  line-height: 1.78;
  color: #767e7e;
}

.courses-header .courses-view {
  font-weight: 700;
  font-size: 1.4rem;
  color: #1ebfc1;
  text-decoration: underline;
}

.courses-body {
  display: flex;
  gap: 47px;
}

.courses-card {
  width: calc(100% / 3);
  position: relative;
  padding-top: 393px; /* Chiều cao của ảnh */
  margin-bottom: 200px; /* Khoảng cách để box trắng hiển thị */
}

.courses-body {
  margin-top: 79px;
}

.courses-img {
  position: absolute;
  width: 359px;
  height: 393px;
  border-radius: 8px;
  opacity: 0.7;
  object-fit: cover;
  color: #bce7e4;
  top: 0;
  left: 0;
}

.courses-card .courses-content {
  position: absolute;
  width: 325px;
  /* min-height: 195px; */
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0px 16px 90px 0px #0000000d;
  display: flex;
  flex-direction: column;
  padding: 18px 25px 29px;
  z-index: 10;
  top: 322px;
  left: 50%;
  transform: translateX(-50%);
}

.courses-content .title {
  font-weight: 700;
  font-size: 2.2rem;
  color: #0d1111;
}

.courses-content .price {
  margin-top: 16px;
  font-size: 1.6rem;
  color: #9da6a5;
}

.courses-content .price strong {
  font-weight: 700;
  font-size: 2.2rem;
  color: #2c2b4d;
}

.courses-content .desc {
  margin-top: 6px;
  font-size: 1.4rem;
  color: #9da6a5;
}

.courses-content .meta {
  position: relative;
  margin-top: 18px;
  display: flex;
  gap: 10px;
}

.courses-content .meta-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.courses-content .meta-item .dots {
  position: relative;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #1ebfc1;
}

.courses-content .meta-item span {
  font-size: 1.4rem;
  color: #9da6a5;
}

/* ==================================== Stats ======================================= */
.stats {
  padding: 265px 0;
}
